<%= simple_form_for(@criterium) do |cr| %>
  <%= cr.error_notification %>

  <div class="form-inputs">
    <%= cr.input :name %>
    <%= cr.input :comments %>
  </div>

  <div class="form-actions">
    <%= cr.button :submit %>
  </div>
<% end %>
