<p id="notice"><%= notice %></p>

<h1>Listing Criteria</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<% @users.each do |user| %>
				<th><%= user.name %></th>
			<% end %>
			<th>Comments</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @criteria.each do |criterium| %>
			<tr>
				<td class="left"><%= link_to criterium.name, edit_criterium_path(criterium) %></td>
				<% @users.each do |user| %>
					<% cr = user.criteria_rankings.find_by(criterium_id: criterium.id) %>
					<td>
						<% if cr.present? %>
							<% if cr.ranking.present? %>
								<b><%= link_to " #{cr.ranking} ", edit_criteria_ranking_path(cr) %></b>
							<% else %>
								<%= link_to "add ", edit_criteria_ranking_path(cr) %>
							<% end %>
							<% if cr.notes.present? %>
								<a><span title="<%= cr.notes %>">...</span></a>
							<% end %>
						<% else %>
							<%= link_to "add", new_criteria_ranking_path(user_id: user.id, criterium_id: criterium.id) %>
						<% end %>
					</td>
				<% end %>
				<td class="left"><%= criterium.comments %></td>
				<td><%= link_to 'Delete', criterium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Criterium', new_criterium_path %>
