<%= simple_form_for(@rating) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @rating.car_id.present? then  %>
      <%= f.hidden_field :car_id, value: @rating.car_id %>
    <% else %>
      <%= f.association :car %>
    <% end %>

    <% if @rating.criterium_id.present? then  %>
      <%= f.hidden_field :criterium_id, value: @rating.criterium_id %>
    <% else %>
      <%= f.association :criterium %>
    <% end %>

    <% if @rating.user_id.present? then  %>
      <%= f.hidden_field :user_id, value: @rating.user_id %>
    <% else %>
      <%= f.association :user %>
    <% end %>
    
    <%= f.input :rating, collection: 1..5 %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
