<h1>New Rating
	<%= if @rating.criterium_id then "for #{@rating.criterium.name}" end %>
	<%= if @rating.user_id then "by #{@rating.user.name}" end %>
	<%= if @rating.car_id then "on the #{@rating.car.name}" end  %>
</h1>

<%= render 'form' %>

<%= link_to 'Back', ratings_path %>
