<% content_for :title do %>About<% end %>
<h2>About the Car Purchase App</h2>
<p>
This app assists with the prospective purchase of a car. You can add users, criteria
on which the car will be judged, and ranking of those criteria per user. Then you can add
entries for each car listing, and each user can provide individual ratings for each 
criterion for that car. Finally, a weighted rating is computed for each user on that car.
</p>

<h3>Getting Started</h3>
<ol>
	<li>Add some Users</li>
	<li>Add some Criteria on which your purchase will be based</li>
	<li>Each user must rank the Criteria on a scale of 1–5</li>
	<li>Enter a Car which you are considering purchasing</li>
	<li>Each User must rate the Car's Criteria on a scale of 1-5</li>
	<li>As ratings are entered, the total weighted rating for that car is computed automatically for each user</li>
</ol>
<p>
I hope you enjoy my little app. Send feedback to <a href="mailto:chaimk@umich.edu">chaimk@umich.edu</a>.
</p>
<p>
<em>This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</em></p>
