/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

th, td {
  padding: 5px;
  text-align: center;
}

.right {
   text-align: right;
}

.left {
	text-align: left;
}

.tooltip {
   display: inline;
   position: relative;
}
.tooltip:hover:after {
   background: #333;
   background: rgba(0,0,0,.8);
   border-radius: 5px;
   bottom: 26px;
   color: #fff;
   content: attr(tooltip-data);
   left: 20%;
   padding: 5px 15px;
   position: absolute;
   z-index: 98;
   width: 220px;
}
