<p id="notice"><%= notice %></p>

<h1><%= @car.name %></h1>

<table>
	<thead>
		<tr>
			<th>Year</th>
			<th>Price</th>
			<th>Kilometrage</th>
			<th>Current owner</th>
			<th>Phone</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @car.year %></td>
			<td><%= @car.price %></td>
			<td><%= @car.kilometrage %></td>
			<td><%= @car.current_owner %></td>
			<td><%= @car.phone %></td>
			<td><%= @car.address %></td>
			<td>&nbsp;<%= link_to "Edit Details", edit_car_path(@car) %></td>
		</tr>
	</tbody>
</table>

<br>
<%= link_to 'New Car', new_car_path %>

<h2>User ratings for this car:</h2>

<table>
	<thead>
		<tr>
			<th></th>
			<% @users.each do |user| %>
				<th colspan="3"><%= user.name %></th>
			<% end %>
		</tr>
		<tr>
			<th>Criterium</th>
			<% @users.each do |user| %>
				<th>Rating</th>
				<th>Rank</th>
				<th>Weighted</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% @criteria.each do |criterium| %>
			<tr>
				<td class="left"><%= link_to criterium.name, edit_criterium_path(criterium) %></td>
				<% @users.each do |user| %>
				
					<!-- Find first (and only, hopefully!) rating with this car, criterium, and user: -->
					<% this_rating = @car.ratings.find_by(criterium_id: criterium.id, user_id: user.id) %>
					<% if this_rating.present? %>
						<td>
							<% if this_rating.rating.present? %>
								<b><%= link_to " #{this_rating.rating} ", edit_rating_path(this_rating) %></b>
							<% else %>
								<%= link_to "add ", edit_rating_path(this_rating) %>
							<% end %>
							<% if this_rating.notes.present? %>
								<a><span title="<%= this_rating.notes %>">...</span></a>
							<% end %>
						</td>
						
					<% else %>
						<td>
							<%= link_to "add", new_rating_path(car_id: @car.id, user_id: user.id, criterium_id: criterium.id) %>
						</td>
					<% end %>

					<!-- Print the "CR" (criteria ranking) and user rating for this user & criterium: -->
					<td><em>
						<%= CriteriaRanking.get_ranking_where(criterium_id: criterium.id, user_id: user.id) %>
					</em></td>

					<!-- Get the weighted rating, print it, and shove it into the @weighted_ratings hash: -->
					<% if this_rating.present? %>
						<% @weighted_ratings[criterium_id: criterium.id, user_id: user.id] = 
							this_rating.weighted_rating.to_f %>
						<td>
							<%= sprintf( "%.1f", @weighted_ratings[criterium_id: criterium.id, user_id: user.id] ) %>
						</td>
					<% else %>
						<td></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>

		<tr>  <!-- Now print the final row with the total rating per user: -->
			<th>Total rating:</th>
			<% @users.each do |user| %>
				<% user_weighted_ratings = @weighted_ratings.select {|k,v| k[:user_id] == user.id} %>
				<td colspan="2"></td>
				<td><strong>
					<%= sprintf( "%.1f", user_weighted_ratings.values.reduce(:+) / 
						user_weighted_ratings.size ) %>
				</strong></td>
			<% end %>
		</tr>
	</tbody>
</table>