<p id="notice"><%= notice %></p>

<h1><%= @car.name %></h1>

<p><strong>Year:</strong> <%= @car.year %></p>

<p><strong>Price:</strong> <%= @car.price %></p>

<p><strong>Kilometrage:</strong> <%= @car.kilometrage %></p>

<p><strong>Current owner:</strong> <%= @car.current_owner %></p>

<p><strong>Phone:</strong> <%= @car.phone %></p>

<p><strong>Address:</strong> <%= @car.address %></p>

<h2>Listing Car Ratings</h2>

<table>
  <thead>
    <tr>
      <th>Criterium</th>
      <% @users.each do |user| %>
        <th><%= user.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @criteria.each do |criterium| %>
      <tr>
        <td><%= link_to criterium.name, edit_criterium_path(criterium) %></td>
        <% @users.each do |user| %>
          <%= rating = user.criteria_rankings.find_by(criterium_id: criterium.id).rating %>
          <td><%= if rating.present? then rating.rating end %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
