<p><%= params.to_s %></p>

<p><%= "User:#{@criteria_ranking.user_id}, Criterium:#{@criteria_ranking.criterium_id}, 
  Ranking:#{@criteria_ranking.ranking}" %></p>

<%= simple_form_for(@criteria_ranking) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @criteria_ranking.user_id.present? then  %>
      <%= f.hidden_field :user_id, value: @criteria_ranking.user_id %>
    <% else %>
      <%= f.association :user %>
    <% end %>
    
    <% if @criteria_ranking.criterium_id.present? then  %>
      <%= f.hidden_field :criterium_id, value: @criteria_ranking.criterium_id %>
    <% else %>
      <%= f.association :criterium %>
    <% end %>

    <%= f.input :ranking, collection: 1..5 %>
    <%= f.input :notes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
