<h1>Editing ranking for 
  <%= "#{@criteria_ranking.criterium.name} by #{@criteria_ranking.user.name}" %>
</h1>

<p><%= @my_params.to_s %></p>

<%= render 'form' %>
<br>
<%= link_to 'Back', criteria_path %>
