<h1>New 
  <%= if @criteria_ranking.criterium_id then "Ranking for #{@criteria_ranking.criterium.name}" 
    else "Criterium Ranking" end %>
  <%= if @criteria_ranking.user_id then "by #{@criteria_ranking.user.name}" end %>
</h1>

<%= render 'form' %>
<br>
<%= link_to 'Back', criteria_path %>
