<%# add navigation links to this file %>
<!-- <li><%= link_to 'Ratings', ratings_path %></li> -->
<li><%= link_to 'Users', users_path %></li>
<li><%= link_to 'Criteria', criteria_path %></li>
<li><%= link_to 'Cars', cars_path %></li>
<!-- <li><%= link_to 'Criteria_Rankings', criteria_rankings_path %></li> -->
<li>&nbsp;&nbsp;</li>
<li><%= link_to '[About]', page_path('about') %></li>
